.k-nopad-right{
  padding-right: 0 !important;
}
.k-add-btn{
	font-size: 1.5em;
}
.k-add-btn a{
	 color: #109164 !important;
}
.k-nopad-left{
  padding-left: 0;
}
.k-total-order{
	font-size:1.5em;
	font-weight: 700;
}